<div class="flex flex-col items-center justify-center p-5">
  <img
    src="./assets/images/icon-thank-you.svg"
    aria-hidden="true"
    class="mb-[25px] h-[56px] w-[56px]"
  />
  <h2 class="text-preset-2 md:text-preset-1 txt-blue-950 mb-[15px]">Thank you!</h2>
  <p class="text-preset-3-regular txt-grey-500 !max-w-80 text-center md:!max-w-96">
    Thanks for confirming your subscription! We hope you have fun using our platform. If you ever
    need support, please feel free to email us at support&commat;loremgaming.com.
  </p>
</div>
