<div
  class="mf px-[22px] py-[35px]"
  aria-live="polite"
  aria-labelledby="mf__title"
  aria-describedby="mf__description"
  aria-live="polite"
  data-cy="step-container-form"
>
  @if (currentStep() === 1) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2" data-cy="step-form-title">
      Personal Info
    </h2>
    <p id="mf__description" class="text-preset-3-regular">
      Please provide your name, email address, and phone number.
    </p>

    <form class="mf__form mt-8 flex flex-col gap-4" data-cy="step-form">
      <div class="form-group">
        <label for="name">Name</label>

        @if (personalInfoForm.name().touched() && personalInfoForm.name().errors()) {
          <span class="error" id="name-error" role="alert">
            @for (error of personalInfoForm.name().errors(); track $index) {
              {{ error.message }}
            }
          </span>
        }

        <input
          [control]="personalInfoForm.name"
          [ngClass]="{
            error: personalInfoForm.name().touched() && personalInfoForm.name().errors().length > 0,
          }"
          type="text"
          id="name"
          name="name"
          data-cy="step-form-name"
          maxlength="100"
          placeholder="e.g. Stephen King"
          [appAutoFocus]="true"
          aria-required="true"
          aria-invalid="{{ personalInfoForm.name().errors().length > 0 }}"
          [attr.aria-describedby]="
            personalInfoForm.name().errors().length > 0 ? 'name-error' : null
          "
        />
      </div>
      <div class="form-group">
        <label>Email Address</label>

        @if (personalInfoForm.email().touched() && personalInfoForm.email().errors()) {
          <span class="error" id="email-error" role="alert">
            @for (error of personalInfoForm.email().errors(); track $index) {
              {{ error.message }}
            }
          </span>
        }

        <input
          [control]="personalInfoForm.email"
          [ngClass]="{
            error:
              personalInfoForm.email().touched() && personalInfoForm.email().errors().length > 0,
          }"
          type="text"
          name="email"
          data-cy="step-form-email"
          maxlength="100"
          placeholder="e.g. stephenking@lorem.com"
          inputmode="email"
          aria-required="true"
          aria-invalid="{{ personalInfoForm.email().errors().length > 0 }}"
          [attr.aria-describedby]="
            personalInfoForm.email().errors().length > 0 ? 'email-error' : null
          "
        />
      </div>
      <div class="form-group">
        <label>Phone Number</label>

        @if (personalInfoForm.phone().touched() && personalInfoForm.phone().errors()) {
          <span class="error" id="phone-error" role="alert">
            @for (error of personalInfoForm.phone().errors(); track $index) {
              {{ error.message }}
            }
          </span>
        }

        <input
          [control]="personalInfoForm.phone"
          [ngClass]="{
            error:
              personalInfoForm.phone().touched() && personalInfoForm.phone().errors().length > 0,
          }"
          type="text"
          name="phone"
          maxlength="50"
          placeholder="e.g. +1 234 567 890"
          inputmode="tel"
          data-cy="step-form-phone"
          appFormattedPhone
          aria-required="true"
          aria-invalid="{{ personalInfoForm.phone().errors().length > 0 }}"
          [attr.aria-describedby]="
            personalInfoForm.phone().errors().length > 0 ? 'phone-error' : null
          "
        />
      </div>

      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full flex-row-reverse items-center">
          <button
            [disabled]="personalInfoForm().submitting() || !personalInfoForm().valid()"
            class="primary"
            type="button"
            (click)="personalInfoSubmit()"
            data-cy="step-button-next-step"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  }

  @let billingPerLarge = planForm.isYearly().value() ? 'year' : 'month';
  @let billingPerShort = planForm.isYearly().value() ? 'yr' : 'mo';

  @if (currentStep() === 2) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2" data-cy="step-form-title">
      Select your plan
    </h2>
    <p id="mf__description" class="text-preset-3-regular">
      You have the option of monthly or yearly billing.
    </p>

    <form class="mf__form mt-8 flex flex-col gap-4 md:gap-8">
      <div class="form-group">
        <ul class="cards" role="radiogroup">
          @for (plan of plans; track plan; let idx = $index) {
            <li
              #cardOption
              class="card"
              role="radio"
              (keydown)="keydownCard($event, idx)"
              [attr.tabindex]="planForm.plan().value() === plan.plan ? 0 : -1"
              [attr.aria-checked]="planForm.plan().value() === plan.plan"
              [appAutoFocus]="idx === 0"
              [attr.aria-labelledby]="'plan-label-' + plan.id"
              [attr.data-cy]="`step-plan-` + idx + '-' + plan.plan"
            >
              <input
                (change)="updatePlan(plan)"
                class="card__radio visually-hidden"
                [id]="plan.id"
                type="radio"
                name="plan"
                [value]="plan.plan"
                [checked]="planForm.plan().value() === plan.plan"
                [attr.data-cy]="`step-plan-input-` + idx"
              />
              <label [for]="plan.id" class="card__wrapper">
                <figure class="card__figure" id="plan-label-{{ plan.id }}">
                  <svg
                    class="card__icon"
                    viewBox="0 0 40 40"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-[40px] w-[40px]"
                  >
                    <use [attr.href]="plan.svg" />
                  </svg>
                  <figcaption class="card__information">
                    <h3 class="card__plan text-preset-3-medium txt-blue-950">{{ plan.plan }}</h3>
                    <p class="card__price text-preset-4-regular txt-grey-500">
                      ${{ plan.pricePerYear }}/{{ billingPerShort }}
                    </p>
                    <p class="card__duration text-preset-5 txt-blue-950">{{ plan.duration }}</p>
                  </figcaption>
                </figure>
              </label>
            </li>
          }
        </ul>
      </div>

      <div class="form-group">
        <div class="switch__wrapper">
          <span
            class="text-preset-4-medium"
            [ngClass]="{
              'txt-blue-950': !planForm.isYearly().value(),
              'txt-grey-200': planForm.isYearly().value(),
            }"
            >Monthly</span
          >
          <div class="checkbox-switch">
            <label class="switch" for="plan__duration">
              <input
                id="plan__duration"
                type="checkbox"
                class="visually-hidden"
                [control]="planForm.isYearly"
                aria-label="Toggle between Monthly and Yearly"
                (change)="updatePlanPrice(); updateAddOnPrices()"
                role="switch"
                data-cy="step-input-switch"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <span
            class="text-preset-4-medium"
            [ngClass]="{
              'txt-blue-950': planForm.isYearly().value(),
              'txt-grey-200': !planForm.isYearly().value(),
            }"
            >Yearly</span
          >
        </div>
        <div class="sr-only" aria-live="polite">
          Billing is set to {{ planForm.isYearly().value() ? 'Yearly' : 'Monthly' }}
        </div>
      </div>

      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full items-center justify-between">
          <button type="button" class="go-back" (click)="goBack(1)" data-cy="step-button-go-back">
            Go Back
          </button>
          <button
            type="button"
            class="primary"
            [disabled]="planForm().submitting() || !planForm().valid()"
            (click)="planSubmit()"
            data-cy="step-button-next-step"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  }

  @if (currentStep() === 3) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2" data-cy="step-form-title">
      Pick add-ons
    </h2>
    <p id="mf__description" class="text-preset-3-regular">
      Add-ons help enhance your gaming experience.
    </p>

    <form class="mf__form mt-8 flex flex-col gap-4 md:gap-8">
      <div class="form-group">
        <ul class="add-ons" role="group">
          @for (addOn of addOns; track addOn; let idx = $index) {
            <li
              #addOnOption
              class="add-on"
              role="checkbox"
              (keydown)="keydownAddOn($event, idx)"
              [appAutoFocus]="idx === 0"
              [attr.tabindex]="!!addOnsForm.items().value()[addOn.id] ? 0 : -1"
              [attr.aria-checked]="!!addOnsForm.items().value()[addOn.id]"
              [attr.data-cy]="'step-add-on-' + idx"
            >
              <input
                class="add-on__checkbox visually-hidden"
                [id]="addOn.id"
                type="checkbox"
                [name]="addOn.id"
                [value]="addOn.value"
                [attr.data-value]="addOn.value"
                [checked]="!!addOnsForm.items().value()[addOn.id]"
                (change)="addOrRemoveAddOn($event, addOn, idx)"
                [attr.data-cy]="'step-add-on-input-' + idx"
              />
              <label [for]="addOn.id" class="add-on__wrapper">
                <figure class="add-on__figure">
                  <span class="add-on__square"></span>
                  <figcaption class="add-on__information">
                    <h3
                      class="add-on__label text-preset-4-medium txt-blue-950 md:text-preset-3-medium"
                    >
                      {{ addOn.label }}
                    </h3>
                    <p
                      class="add_on__information text-preset-5 txt-grey-500 md:text-preset-4-regular"
                    >
                      {{ addOn.information }}
                    </p>
                    <p class="add_on__price text-preset-5 md:text-preset-4-regular txt-purple-600">
                      +${{
                        planForm.isYearly().value() ? addOn.priceYearly : addOn.priceMonthly
                      }}/{{ billingPerShort }}
                    </p>
                  </figcaption>
                </figure>
              </label>
            </li>
          }
        </ul>
      </div>

      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full items-center justify-between">
          <button type="button" class="go-back" (click)="goBack(2)" data-cy="step-button-go-back">
            Go Back
          </button>
          <button
            type="button"
            [disabled]="addOnsForm().submitting() || !addOnsForm().valid()"
            class="primary"
            (click)="addOnsSubmit()"
            data-cy="step-button-next-step"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  }

  @if (currentStep() === 4) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2" data-cy="step-form-title">
      Finishing up
    </h2>
    <p id="mf__description" class="text-preset-3-regular">
      Double-check everything looks OK before confirming.
    </p>
    <form class="mf__form mt-8 flex flex-col gap-4 md:gap-8">
      <div class="form-group">
        <ul class="choices rad roundex-[8px] flex flex-col bg-blue-50 p-[15px]" role="group">
          <li class="choice__item pb-[20px]">
            <p
              class="choice__description txt-blue-950 text-preset-4-medium md:text-preset-3-medium"
              data-cy="step-summary-plan"
            >
              {{ planForm.plan().value() }} ({{
                planForm.isYearly().value() ? 'Yearly' : 'Monthly'
              }})
            </p>
            <button
              type="button"
              class="choice__action text-preset-4-regular txt-grey-500"
              (click)="goBack(2)"
              data-cy="step-button-change"
            >
              Change
            </button>
            <span class="choice__price txt-blue-950 text-preset-4-bold"
              >${{ planForm.price().value() }}/{{ billingPerShort }}</span
            >
          </li>

          @if (addOnList().length > 0) {
            <li class="border-separator"></li>

            @for (item of addOnList(); track item; let idx = $index) {
              <li class="choice__item pt-[20px]" [attr.data-cy]="'step-summary-item' + idx">
                <p class="choice__description text-preset-4-regular txt-grey-500">
                  {{ item.addOn }}
                </p>
                <p class="choice__price text-preset-4-regular txt-blue-95">
                  +${{ item.price }}/{{ billingPerShort }}
                </p>
              </li>
            }
          }
        </ul>
      </div>

      <div class="flex flex-row items-center justify-between p-[15px]">
        <p class="text-preset-4-regular txt-grey-500">Total (per {{ billingPerLarge }})</p>
        <p class="text-preset-3-medium txt-purple-600 md:font-size-20" data-cy="step-summary-total">
          +${{ total() }}/{{ billingPerShort }}
        </p>
      </div>
      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full items-center justify-between">
          <button type="button" (click)="goBack(3)" class="go-back" data-cy="step-button-go-back">
            Go Back
          </button>
          <button
            type="button"
            (click)="confirmSubmit()"
            class="primary"
            data-cy="step-button-confirm"
          >
            Confirm
          </button>
        </div>
      </div>
    </form>
  }
</div>
