<div
  class="mf px-[22px] py-[35px]"
  aria-live="polite"
  aria-labelledby="mf__title"
  aria-describedby="mf__description"
>
  @if (currentStep() === 1) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2">Personal Info</h2>
    <p id="mf__description" class="text-preset-3-regular">
      Please provide your name, email address, and phone number.
    </p>

    <form class="mf__form mt-8 flex flex-col gap-4">
      <div class="form-group">
        <label for="name">Name</label>

        @if (personalInfoForm.name().touched() && personalInfoForm.name().errors()) {
          <span class="error">
            @for (error of personalInfoForm.name().errors(); track $index) {
              {{ error.message }}
            }
          </span>
        }

        <input
          [control]="personalInfoForm.name"
          [ngClass]="{
            error: personalInfoForm.name().touched() && personalInfoForm.name().errors().length > 0,
          }"
          type="text"
          id="name"
          name="name"
          maxlength="100"
          placeholder="e.g. Stephen King"
        />
      </div>
      <div class="form-group">
        <label>Email Address</label>

        @if (personalInfoForm.email().touched() && personalInfoForm.email().errors()) {
          <span class="error">
            @for (error of personalInfoForm.email().errors(); track $index) {
              {{ error.message }}
            }
          </span>
        }

        <input
          [control]="personalInfoForm.email"
          [ngClass]="{
            error:
              personalInfoForm.email().touched() && personalInfoForm.email().errors().length > 0,
          }"
          type="text"
          name="email"
          maxlength="100"
          placeholder="e.g. stephenking@lorem.com"
          inputmode="email"
        />
      </div>
      <div class="form-group">
        <label>Phone Number</label>

        @if (personalInfoForm.phone().touched() && personalInfoForm.phone().errors()) {
          <span class="error">
            @for (error of personalInfoForm.phone().errors(); track $index) {
              {{ error.message }}
            }
          </span>
        }

        <input
          [control]="personalInfoForm.phone"
          [ngClass]="{
            error:
              personalInfoForm.phone().touched() && personalInfoForm.phone().errors().length > 0,
          }"
          type="text"
          name="phone"
          maxlength="50"
          placeholder="e.g. +1 234 567 890"
          inputmode="tel"
          appFormattedPhone
        />
      </div>

      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full flex-row-reverse items-center">
          <button
            [disabled]="personalInfoForm().submitting() || !personalInfoForm().valid()"
            class="primary"
            type="button"
            (click)="personalInfoSubmit()"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  }

  @if (currentStep() === 2) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2">Select your plan</h2>
    <p id="mf__description" class="text-preset-3-regular">
      You have the option of monthly or yearly billing.
    </p>

    <form class="mf__form mt-8 flex flex-col gap-4 md:gap-8">
      <div class="form-group">
        <ul class="cards" role="radiogroup">
          @for (plan of plans; track plan; let idx = $index) {
            <li
              #cardOption
              class="card"
              role="radio"
              (keydown)="keydownCard($event, idx)"
              [attr.tabindex]="planForm.plan().value() === plan.plan ? 0 : -1"
              [attr.aria-checked]="planForm.plan().value() === plan.plan"
            >
              <input
                (change)="updatePlan(plan)"
                class="card__radio visually-hidden"
                [id]="plan.id"
                type="radio"
                name="plan"
                [value]="plan.plan"
                [attr.data-value]="plan.plan"
                [checked]="planForm.plan().value() === plan.plan"
              />
              <label [for]="plan.id" class="card__wrapper">
                <figure class="card__figure">
                  <svg
                    class="card__icon"
                    viewBox="0 0 40 40"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-[40px] w-[40px]"
                  >
                    <use [attr.href]="plan.svg" />
                  </svg>
                  <figcaption class="card__information">
                    <h3 class="card__plan text-preset-3-medium txt-blue-950">{{ plan.plan }}</h3>
                    <p class="card__price text-preset-4-regular txt-grey-500">
                      ${{ plan.pricePerYear }}/yr
                    </p>
                    <p class="card__duration text-preset-5 txt-blue-950">{{ plan.duration }}</p>
                  </figcaption>
                </figure>
              </label>
            </li>
          }
        </ul>
      </div>
      <div class="form-group">
        <div class="switch__wrapper">
          <span
            class="text-preset-4-medium"
            [ngClass]="{
              'txt-blue-950': !planForm.isYearly().value(),
              'txt-grey-200': planForm.isYearly().value(),
            }"
            >Monthly</span
          >
          <div class="checkbox-switch">
            <label class="switch" for="plan__duration">
              <input
                [control]="planForm.isYearly"
                type="checkbox"
                id="plan__duration"
                aria-label="Toggle between Monthly and Yearly"
                (change)="updatePlanPrice()"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <span
            class="text-preset-4-medium"
            [ngClass]="{
              'txt-blue-950': planForm.isYearly().value(),
              'txt-grey-200': !planForm.isYearly().value(),
            }"
            >Yearly</span
          >
        </div>
      </div>

      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full items-center justify-between">
          <button type="button" class="go-back" (click)="goBack(1)">Go Back</button>
          <button
            type="button"
            class="primary"
            [disabled]="planForm().submitting() || !planForm().valid()"
            (click)="planSubmit()"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  }

  @if (currentStep() === 3) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2">Pick add-ons</h2>
    <p id="mf__description" class="text-preset-3-regular">
      Add-ons help enhance your gaming experience.
    </p>

    <form class="mf__form mt-8 flex flex-col gap-4 md:gap-8">
      <div class="form-group">
        <ul class="add-ons" role="group">
          @for (addOn of addOns; track addOn; let idx = $index) {
            <li #addOnOption class="add-on" role="checkbox">
              <input
                class="add-on__checkbox visually-hidden"
                [id]="addOn.id"
                type="checkbox"
                [name]="addOn.id"
                [value]="addOn.value"
                [attr.data-value]="addOn.value"
                [checked]="!!addOnsForm.items().value()[addOn.id]"
                (change)="addOrRemoveItem($event, addOn, idx)"
              />
              <label [for]="addOn.id" class="add-on__wrapper">
                <figure class="add-on__figure">
                  <span class="add-on__square"></span>
                  <figcaption class="add-on__information">
                    <h3
                      class="add-on__label text-preset-4-medium txt-blue-950 md:text-preset-3-medium"
                    >
                      {{ addOn.label }}
                    </h3>
                    <p
                      class="add_on__information text-preset-5 txt-grey-500 md:text-preset-4-regular"
                    >
                      {{ addOn.information }}
                    </p>
                    <p class="add_on__price text-preset-5 md:text-preset-4-regular txt-purple-600">
                      +${{
                        planForm.isYearly().value() ? addOn.priceYearly : addOn.priceMonthly
                      }}/{{ planForm.isYearly().value() ? 'yr' : 'mo' }}
                    </p>
                  </figcaption>
                </figure>
              </label>
            </li>
          }
        </ul>
      </div>
      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full items-center justify-between">
          <button type="button" class="go-back" (click)="goBack(2)">Go Back</button>
          <button
            type="button"
            [disabled]="addOnsForm().submitting() || !addOnsForm().valid()"
            class="primary"
            (click)="addOnsSubmit()"
          >
            Next Step
          </button>
        </div>
      </div>
    </form>
  }

  @if (currentStep() === 4) {
    <h2 id="mf__title" class="txt-blue-950 text-preset-2">Finishing up</h2>
    <p id="mf__description" class="text-preset-3-regular">
      Double-check everything looks OK before confirming.
    </p>
    <form class="mf__form mt-8 flex flex-col gap-4 md:gap-8">
      <div class="form-group">
        <ul class="choices rad roundex-[8px] flex flex-col bg-blue-50 p-[15px]" role="group">
          <li class="choice__item pb-[20px]">
            <p
              class="choice__description txt-blue-950 text-preset-4-medium md:text-preset-3-medium"
            >
              Arcade (Yearly)
            </p>
            <button type="button" class="choice__action text-preset-4-regular txt-grey-500">
              Change
            </button>
            <span class="choice__price txt-blue-950 text-preset-4-bold">$90/yr</span>
          </li>

          <li class="border-separator"></li>

          <li class="choice__item pt-[20px]">
            <p class="choice__description text-preset-4-regular txt-grey-500">Online service</p>
            <p class="choice__price text-preset-4-regular txt-blue-95">+$10/yr</p>
          </li>

          <li class="choice__item pt-[20px]">
            <p class="choice__description text-preset-4-regular txt-grey-500">Larger storage</p>
            <p class="choice__price text-preset-4-regular txt-blue-95">+$20/yr</p>
          </li>
        </ul>
      </div>
      <div class="flex flex-row items-center justify-between p-[15px]">
        <p class="text-preset-4-regular txt-grey-500">Total (per month)</p>
        <p class="text-preset-3-medium txt-purple-600 md:font-size-20">+$120/yr</p>
      </div>
      <div class="mf__actions--wrapper flex items-center justify-center">
        <div class="mf__actions flex w-full items-center justify-between">
          <button type="button" (click)="goBack(2)" class="go-back">Go Back</button>
          <button type="button" (click)="confirmSubmit()" class="primary">Confirm</button>
        </div>
      </div>
    </form>
  }
</div>
