.msf {
  --border-radius: 10px;

  max-width: 686px;

  &__steps {
    background-image: url('/assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--clr-purple-500);
    min-height: 170px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 343px;
    min-height: 390px;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951);
    margin: auto;
    border-radius: var(--border-radius);
    margin-top: -70px;
  }

  &__list {
    padding-top: 30px;
  }

  &__step {
    display: grid;
    grid-template-areas: 'badge';
    gap: 2px;
  }

  &__badge {
    grid-area: badge;
  }

  &__description {
    grid-area: description;
    display: none;
  }

  @media screen and (min-width: 48em) {
    border-radius: 10px;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951);

    &__steps {
      background-image: url('/assets/images/bg-sidebar-desktop.svg');
      background-color: var(--clr-purple-500);
      height: 568px;
      width: 208px;
      border-radius: var(--border-radius);
      flex: 0 0 auto;
    }

    &__form {
      border-radius: 0;
      box-shadow: none;
      margin: initial;
      max-width: 100%;
    }

    &__list {
      padding-top: 40px;
    }

    &__description {
      display: flex;
    }

    &__step {
      grid-template-areas: 'badge description';
      grid-template-columns: auto 1fr;

      gap: 20px;
      row-gap: 30px;
    }
  }

  @media screen and (min-width: 59em) {
    max-width: 940px;

    &__steps {
      width: 274px;
    }
  }
}
