label {
  color: var(--clr-blue-950);

  font-family: var(--ff);
  font-size: var(--fs-14);
  font-weight: var(--fw-normal);
  line-height: 120%;
  letter-spacing: 0px;
}

input[type='text']::placeholder,
textarea::placeholder {
  color: var(--clr-purple-200);

  border-radius: 8px;
  font-family: var(--ff);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 120%;
  letter-spacing: 0px;
}

textarea,
input[type='text'] {
  border: 1px solid var(--clr-purple-200);

  color: var(--clr-blue-950);
  border-radius: 8px;
  font-family: var(--ff);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 120%;
  letter-spacing: 0px;

  padding: 12px;

  width: 100%;
}

textarea:not(:empty),
textarea:is(:active, :focus, :hover),
input[type='text']:not(:empty),
input[type='text']:is(:active, :focus, :hover) {
  border: 1px solid var(--clr-purple-950);
}

input.error {
  border: 1px solid var(--clr-red-500);
}

span.error {
  color: var(--clr-red-500);

  font-family: var(--ff);
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  line-height: 120%;
  letter-spacing: 1px;
}

button:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--clr-grey-300);
  outline-offset: 2px;
}

.add-ons,
.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-on__figure,
.card__figure {
  padding: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.card__plan {
  grid-area: plan;
}

.card__price {
  grid-area: price;
}

.card__duration {
  grid-area: duration;
}

.add-on__label {
  grid-area: label;
}

.add_on__information {
  grid-area: information;
}

.add_on__price {
  grid-area: price;
  align-self: center;
}

.card__information {
  display: grid;
  grid-template-areas:
    'plan'
    'price'
    'duration';
  row-gap: 4px;
  width: 100%;
}

.add-on__information {
  display: grid;
  grid-template-areas:
    'label price'
    'information price';
  grid-template-columns: 1fr auto;
  row-gap: 4px;
  width: 100%;
}

.add-on__wrapper,
.card__wrapper {
  display: block;
  border: 1px solid var(--clr-purple-200);
  border-radius: 8px;
  cursor: pointer;
}

.add-on__square {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid var(--clr-purple-200);
}

input.add-on__checkbox:checked + .add-on__wrapper,
input.card__radio:checked + .card__wrapper {
  background-color: var(--clr-blue-50);
  border-color: var(--clr-purple-600);
}

input.add-on__checkbox:checked + .add-on__wrapper .add-on__square {
  background-color: var(--clr-purple-600);
  background-image: url('/assets/images/icon-checkmark.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switch__wrapper {
  --bg-chk-switch: var(--clr-blue-950);
  --bg-chk-round: var(--clr-white);
  --switch-width: 40px;
  --switch-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background-color: var(--clr-blue-50);
  padding: 15px;
}

.checkbox-switch {
  display: flex;
}

.checkbox-switch .slider {
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.checkbox-switch .switch {
  display: inline-block;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
}

.checkbox-switch .switch input {
  display: none;
}

.checkbox-switch .slider {
  background-color: var(--bg-chk-switch);
  cursor: pointer;
  position: absolute;
  inset: 0;
  transition: 0.4s;
}

.checkbox-switch .slider:before {
  background-color: var(--bg-chk-round);
  position: absolute;
  content: '';
  bottom: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  transition: 0.4s;
}

.checkbox-switch input:checked + .slider {
  background-color: var(--bg-chk-switch);
}

.checkbox-switch input:checked + .slider:before {
  transform: translateX(19px);
}

.checkbox-switch .slider.round {
  border-radius: 34px;
}

.checkbox-switch .slider.round:before {
  border-radius: 50%;
}

.choice__description {
  grid-area: description;
  align-self: start;
  text-align: left;
}

.choice__action {
  grid-area: action;
  align-self: start;
  text-align: left;
}

.choice__price {
  grid-area: price;
  align-self: center;
}

.choice__item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'description price'
    'action price';
  width: 100%;
}

@media screen and (min-width: 48em) {
  .card__information {
    flex: 1;
    grid-template-areas:
      'plan duration'
      'price duration';
    row-gap: 4px;
    grid-template-columns: 1fr auto;
  }

  .card__duration {
    align-self: center;
  }

  .add-ons {
    gap: 20px;
  }
}

@media screen and (min-width: 59em) {
  .card__information {
    grid-template-areas:
      'plan'
      'price'
      'duration';
    grid-template-columns: 1fr;
  }

  .card__figure {
    display: flex;
    flex-direction: column;
  }

  .cards {
    flex-direction: row;
    align-items: self-start;
    gap: 20px;
  }

  .card {
    flex: 1;
  }

  .card__figure {
    align-items: self-start;
  }
}
